@import "/home/papo/.cache/wal/colors.scss";

* {
  all: unset;
}

window {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 20px;
  background-color: transparent;
}

.bar {
  padding-top: 6px;
  padding-bottom: 6px;
  border-color: $color1;
}

.workspaces {
}

.workspace-entry-button {
  background-color: $color4;
  border-radius: 8px;
  padding-left: 12px;
  padding-right: 12px;
  color: $color0
}

.current-workspace {
  background: linear-gradient(45deg, $color6 50%, $color4);
  border-radius: 8px;
  padding-left: 12px;
  padding-right: 12px;
  color: $color0
}

.current-window {
  background: linear-gradient(45deg, $color4, $color5 60%);
  border-radius: 8px;
  padding-left: 8px;
  padding-right: 8px;
  color: $color0
}

.run {
  background-color: $color2;
  border-radius: 8px;
  padding-left: 8px;
  padding-right: 8px;
  color: $color0
}

.close {
  background-color: $color1;
  border-radius: 8px;
  padding-left: 8px;
  padding-right: 8px;
  color: $color0
}

.spacer {
  all: unset;
  color: $foreground;
  margin-left: 5px;
  margin-right: 5px;
}

.cpu {
  background: linear-gradient(45deg, $color1, $color3);
  border-radius: 8px;
  padding-left: 8px;
  padding-right: 8px;
  color: $color0
}

.gpu {
  background: linear-gradient(45deg, $color3, $color2);
  border-radius: 8px;
  padding-left: 8px;
  padding-right: 8px;
  color: $color0
}

.memory {
  background: linear-gradient(45deg, $color2, $color6);
  border-radius: 8px;
  padding-left: 8px;
  padding-right: 8px;
  color: $color0
}

.date {
  background: linear-gradient(45deg, $color6, $color4);
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;
  color: $color0
}

.time {
  background: linear-gradient(45deg, $color4, $color5);
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;
  color: $color0
}

.bluetooth {
  background-color: $color4;
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;
  color: $color0
}

.power-button {
  background-color: $color1;
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 15px;
  color: $color0
}

