@import url("./colors.css");
* {
  all: unset;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 25px;
  /*
  color: @foreground;
  */
}

window#waybar {
  background-color: @backgrounda;
  border-radius: 8px;
  border: 2px solid @color4;
}

#custom-spacer {
  all: unset;
}

#workspaces {
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  color: @color8;
}

#workspaces button {
  color: @color8;
}

#workspaces button.active{
  color: @foreground;
}

#custom-time {
  padding-left: 0.4em;
  padding-right: 0.4em;
}

#custom-notification {
  padding-left: 0.4em;
  padding-right: 0.4em;
}

tray#waybar.empty #tray {
  all: unset;
}

#tray {
  color: @foreground;

  padding-left: 0.4em;
  padding-right: 0.4em;
  /*
   margin-right: 0.6em;
   */
}

#tray menu {
  background: @background;
  color: @color0;

  padding-left: 0.4em;
  padding-right: 0.4em;
}

#custom-pacman {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

#bluetooth {
  padding-left: 0.3em;
  padding-right: 0.3em;
}

#pulseaudio {
  padding-left: 0.3em;
  padding-right: 0.3em;
}

#network {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

#custom-power {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

#custom-battery {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

